/*CSS file*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base CSS styles*/
body{
    font-family: 'Times New Roman', Times, serif;
    background: #0f172a;
    color: #e2e8f0;
    line-height: 1.5;
}

.nav{
    display: flex;
    background: #0f172a;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav a{
    color: #e2e8f0;
    text-decoration: none;

}

section{
    padding: 1.5rem 1rem;

}

section h2{
    margin-bottom: 1rem;
}

footer{
    text-align: center;
    padding: 1rem;
    color: #94a3b8;
}

img{
    width: 100%;
    max-width: 600px;
    
}

/*Mobile width settings*/
@media (min-width: 768px){
    section h2{
        font-size: 2.2rem;
    }
    img{
        max-width: 300px;
    }
}


/*Desktop width settings*/
@media (min-width: 769px){
    section h2{
        font-size: 3.5rem;
        
    }
    img{
        display:block;
        margin: auto;
        max-width: 700px;
    }
}